{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Add task</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script type="text/javascript" src={% static "js/jquery.min.js" %}></script>
    <script type="text/javascript" src={% static "js/main.js" %}></script>

</head>
<body>

<h1>Add your task </h1>

<form action="/task/add/" method="post">
   {% csrf_token %}
<br/>
  <label>Task:</label><br/>
   <input type="text" name="task"/><br/>
<br/>
  <label>Description:</label><br/>
   <textarea name="description"/>   </textarea>

<br/>
<br/>

    <label for="id-status">Status:</label><br/>
    <select name="status" id="id-status">
        {% for value, label in status_choices %}
            <option value="{{ value }}">{{ label }}</option>
            <br/>
        {% endfor %}
  </select>
<br/>
<br/>
 <label>Date for finish:</label><br/>
   <input type="date" name="data_proccessing"/><br/>

    <input type="submit" value="Send"/>


</form>
</body>
</html>
