body {
    font-family: Arial, sans-serif;
    background: beige;
    color: darkslategray;
    text-align: left ;
}

table_i {
    border-collapse: collapse;
    border: 2px solid;
    text-align: left ;
}